body{
    background: black;
    cursor: cell;
}

canvas{
    border: solid 3px darkblue;
}

#gameName{
    color: white;
    font-family: "HelveticaNeue-UltraLight";
    font-size: 27px;
    text-align: center;
}

#centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -500px;
}


